textarea {
  margin: 0 !important;
}

    

.numberCircle {
  float: left;
  margin-right: 30px;
  border-radius: 50%;

  width: 15px;
  height: 15px;
  padding: 4px;

  background: black;
  color: white;
  text-align: center;

  font: 12px Arial, sans-serif;
}

.body-text {
  padding-left: 50px !important;  
  padding-right: 50px !important; 
}

.panel {
  position: fixed;
  left: 0%;
  background-color: black;
  width: 100%;
  display: block;
}

.panel-inner {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.panel-lower {
  position: fixed;
  bottom: -152px;
  background-color: black;
}




/*@media (max-width: 481px) {

  #textarea {
    height: 30px !important;
  }
}

@media (max-width: 601px) {

 .body-text{padding-left: 1em !important;  padding-right: 1em !important; }

}*/

